<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>perform</display-name>
    <servlet-name>perform</servlet-name>
    <servlet-class>servlet.perform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>perform</servlet-name>
    <url-pattern>/perform</url-pattern>
  </servlet-mapping>
  <display-name>JSW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>servlet.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wwithdraw</display-name>
    <servlet-name>wwithdraw</servlet-name>
    <servlet-class>servlet.wwithdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wwithdraw</servlet-name>
    <url-pattern>/wwithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposit</display-name>
    <servlet-name>deposit</servlet-name>
    <servlet-class>servlet.deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bal</display-name>
    <servlet-name>bal</servlet-name>
    <servlet-class>servlet.bal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bal</servlet-name>
    <url-pattern>/bal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exit</display-name>
    <servlet-name>exit</servlet-name>
    <servlet-class>servlet.exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exit</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>servlet.create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
</web-app>